@charset "UTF-8";
/* faq */ 
#faq_tb ul:after{
 	content: "";
 	clear: both;
 	display: block;	
}
.faq_tb{
	text-align: center;
	font-size: 0.7rem;
}
.faq_tb ul{border-bottom: 1px solid #d9d9d9}
.tb_1 li{
		padding-bottom: 1rem;
		padding-top: 1rem;
 		float: left; 
}
.tb_2 .no{
		padding-bottom: 1rem;
		padding-top: 1rem;
 		float: left; 
}
.tb_3 .no{
		padding-bottom: 1rem;
		padding-top: 1rem;
 		float: left; 
}
.no {width: 10%;}
.name {
		width: 15%;
		padding: 1rem 0;
		float: left;
}
.detail {width: 50%; cursor: pointer;}
.date {
		width: 25%;
		padding: 1rem 0;
		float: left;
}
.subject {text-align: left;}
.question {
			padding: 1rem 0;
 			float: left; 
 			width: 90%;
 			text-align: left;
 			box-sizing: border-box;
 			line-height: 1rem;
}
ul::after{
	content: "";
	clear: both;
	display: block;
	
}
.answer {
		padding: 1rem 0.5rem;
 		float: left; 
		width: 65%;
		text-align: left;
		box-sizing: border-box;
		line-height: 1rem;
}
.answer:before{
	content: ' \21B3';
	}
.title {
		font-weight: bold;
		border-top: 1px solid;
}
/* accordion */
.panel{display: none;}
/* number */
.number .left-arrow{
	padding-right:0.2rem;
}
.number .right-arrow{
	padding-left:0.2rem;
}
.number {
		text-align: center;
		margin-top: 1rem;
		position: relative;
}
.number a:hover{color: #ff5b0d;}
.select{
	cursor: default;
	color: #ff5b0d !important;
}
button {
		border: 0;
		background-color: #ccc;
		padding: 0.5rem 0.8rem 0.6rem;
		border-radius: 3px;
		position: absolute;
		right: 0.0rem;
		font-size: 0.7rem;
		cursor: pointer;
		font-weight: bold;
}
button:hover{ color: white; background-color: #1d69f8;}
/* modal */
.writemodal div {margin-top: 0.4em;}
label {
		margin-bottom: 0.5rem;
		display: block;
		font-size: 0.7rem;
}
textarea {resize: none;}
input, textarea {			
	width: 100%;
	text-indent: 0.5rem;
	padding: 0.5rem 0;
	font-size: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 10px;
}
.m_button {
		border: 0;
		background-color: #ccc;
		padding: 0.6rem;
		border-radius: 3px;
		cursor: pointer;
		font-weight: bold;
		font-size: 0.5rem;
		position: relative;
}

.M_button:hover{
	color: white;
	background-color: #1d69f8;
}
#b_all{ text-align: right;}
.modal { 
         position: fixed; 
         left: 0; 
         top: 0; 
         width: 100%; 
         height: 100%; 
         background-color: rgba(0, 0, 0, 0.5); 
         opacity: 0; 
         visibility: hidden; 
         transform: scale(1.1); 
}
.writemodal { 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: white; 
    padding: 1.5rem;
    border-radius: 3px; 
    font-size: 32px;
    min-width: 500px;
} 
.show-modal { 
    opacity: 1; 
    visibility: visible; 
    transform: scale(1.0); 
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
}
