@charset "UTF-8";

/*Title area*/
ul::after,
h2::after {
    content: "";
    clear: both;
    display: block;
}
form {
    font-size: 0.6rem;
}
.titlediv {
    padding: 0.5em 0;
    box-sizing: border-box;
}
.title {
    font-weight: bold;
    font-size: 1.3rem;
}
.img1 {
    width: 1.3rem;
    margin-right: 0.5rem;
}
.subtitlediv {
    margin: 1em 0;
}
/*Order item area*/
#order h2 {
    margin-top: 0;
}
#order .order-header {
    border-top: 1px solid #777;
}
#order ul {
    border-bottom: 1px solid #ccc;
}
#order ul:after {
    content: "";
    clear: both;
    display: block;
}
#order ul li {
    float: left;
    text-align: center;
    padding: 1.2rem 0;
    font-size: 0.7rem;
}
#order .size-0 {
    width: 5%;
}
#order input[type="checkbox"] {
    width: 0.8rem;
    height: 0.8rem;
}
#order .size-1 {
    width: 25%;
}
#order .size-2 {
    width: 20%;
}
#order .size-3 {
    width: 10%;
}
#order ul .amount {
    padding: 1rem 0;
}
#order ul li select {
    width: 100%;
    padding: 0.2rem;
    text-overflow: ellipsis;
}
#order ul .amount input {
    width: 1.1rem;
    height: 1.1rem;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 0;
}
#order ul .amount span {
    width: 1.1rem;
    height: 1.1rem;
    display: inline-block;
    background-color: #ccc;
    line-height: 0.95rem;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#order ul .amount span:hover {
    background-color: #1d69f8;
    color: white;
}
#order:after,
#address:after,
#pay:after {
    content: "";
    clear: both;
    display: block;
}

.reBtn {
    background-color: #ccc;
    line-height: 1.1rem;
    font-size: 0.5rem;
    text-align: center;
    border: 0;
    vertical-align: top;
}
.reBtn:hover {
    background-color: #1d69f8;
    color: white;
}
/* .orderitem{width: 100%; border-top: 2px solid; display: inline-block; box-sizing: border-box;} */
/* .orderitem li{float: left; text-align: center; padding: 0.3rem 0;} */
/* .odername_li1{width: 15%; border-bottom: 1px solid; line-height: 1.8rem;} */
/* .odername_li2{width: 40%; border-bottom: 1px solid; line-height: 1.8rem;} */
/* .odername_li3{width: 5%; border-bottom: 1px solid; line-height: 1.8rem;} */
/* .odername_li4{width: 9%; border-bottom: 1px solid; line-height: 1.8rem;} */
/* .oder_li1{width: 15%; border-bottom: 1px solid black; line-height: 2.5rem;} */
/* .oder_li2{width: 50%; border-bottom: 1px solid ; line-height: 2.5rem;} */
/* .oder_li3{width: 5%; border-bottom: 1px solid; line-height: 2.5rem;} */
.oder_font1 {
    font-weight: bold;
}
.amount1 {
    width: 1.3rem;
    height: 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0;
    box-sizing: border-box;
}
.amount2 {
    width: 1.3rem;
    height: 1.3rem;
    display: inline-block;
    background-color: #ccc;
    line-height: 1.2rem;
    cursor: pointer;
    font-size: 1rem;
}
.oder_li1 span:hover {
    background-color: #1d69f8;
    color: white;
}
.deletebtn {
    margin: 0.9rem 0;
    text-align: right;
}
.deletebtn button {
    padding: 0.5rem 0.8rem;
    background-color: #ccc;
    border: 0;
    font-weight: bold;
}
.deletebtn button:hover {
    background-color: #1d69f8;
    color: white;
}
.buy {
    text-align: center;
}
.buy button {
    padding: 1rem 1.3rem;
    text-align: center;
    background-color: #ccc;
    border: 0;
    font-weight: bold;
}
.buy button:hover {
    background-color: #1d69f8;
    color: white;
}
